* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
}

.clear {
  clear: both;
}

header {
  background-image: url("../img/bg.jpg");
  min-height: 600px;
  padding: 30px 0;
  background-size: cover;
  background-position: center;
}
header .container {
  max-width: 1280px;
  padding: 0 2%;
  margin: 0 auto;
}
header .container .menu-topo .logo {
  position: relative;
  z-index: 2;
  background-image: url("../img/logo.png");
  background-size: 100% 100%;
  float: left;
  width: 132px;
  height: 20px;
}
header .container .menu-topo .desktop {
  float: right;
}
@media screen and (max-width: 750px) {
  header .container .menu-topo .desktop {
    display: none;
  }
}
header .container .menu-topo .desktop ul li {
  display: inline-block;
  margin: 0 15px;
  border-radius: 20px;
}
header .container .menu-topo .desktop ul li a {
  color: #fff;
}
header .container .menu-topo .desktop ul .btn-nav {
  padding: 3px 8px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
header .container .menu-topo .mobile {
  float: right;
  display: none;
}
header .container .menu-topo .mobile h3 {
  position: relative;
  z-index: 2;
  color: #fff;
  cursor: pointer;
  font-size: 26px;
}
header .container .menu-topo .mobile ul {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 70px 0 30px 0;
  top: 0;
  background-color: #31475e;
  display: none;
  text-align: center;
}
header .container .menu-topo .mobile ul li {
  padding: 10px 0;
}
header .container .menu-topo .mobile ul li a {
  display: block;
  color: #fff;
}
header .container .menu-topo .mobile ul .btn-nav {
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: inline-block;
  padding: 4px 10px;
}
@media screen and (max-width: 750px) {
  header .container .menu-topo .mobile {
    display: block;
  }
}
header .container .chamada-header {
  padding: 110px 0;
}
@media screen and (max-width: 750px) {
  header .container .chamada-header {
    text-align: center;
  }
}
header .container .chamada-header h2 {
  font-size: 47px;
  color: #fff;
  font-weight: normal;
}
header .container .chamada-header p {
  font-size: 17px;
  color: #fff;
  margin-top: 10px;
  max-width: 600px;
}
header .container .chamada-header form {
  margin-top: 10px;
}
header .container .chamada-header form input[type=email] {
  display: inline-block;
  border-radius: 20px;
  background-color: #fff;
  height: 35px;
  width: 237px;
  padding-left: 10px;
  outline: 0;
  border: 0;
}
@media screen and (max-width: 750px) {
  header .container .chamada-header form input[type=email] {
    margin-bottom: 10px;
  }
}
header .container .chamada-header form input[type=submit] {
  width: 181px;
  height: 43px;
  border-radius: 20px;
  background-color: #ff5f27;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.descricao-danki {
  text-align: center;
  padding: 30px 0;
}
.descricao-danki .container p {
  display: inline-block;
  max-width: 600px;
  font-weight: lighter;
  font-size: 22px;
  font-style: italic;
}

.descricao-danki2 {
  padding: 50px 0;
}
.descricao-danki2 .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 960px;
}
.descricao-danki2 .container .texto-descricao {
  float: left;
  width: 40%;
}
.descricao-danki2 .container .texto-descricao h3 {
  color: #31475e;
  font-size: 22px;
  line-height: 32px;
  font-weight: normal;
}
.descricao-danki2 .container .texto-descricao p {
  margin-top: 15px;
  color: #6a7c92;
  font-size: 15px;
  line-height: 25px;
}
@media screen and (max-width: 750px) {
  .descricao-danki2 .container .texto-descricao {
    width: 80%;
    margin: auto;
  }
}
.descricao-danki2 .container img {
  width: 60%;
  float: left;
  max-width: 500px;
}
@media screen and (max-width: 750px) {
  .descricao-danki2 .container img {
    width: 100%;
    margin: 10px auto;
    float: none;
  }
}/*# sourceMappingURL=index.css.map */