@use 'variables' as v;
@use 'mixins' as m;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    list-style-type: none;
}

.container {
    @include m.container
}

.clear {
    clear: both;
}

header {
    background-image: url('../img/bg.jpg');
    min-height: 600px;
    padding: 30px 0;
    background-size: cover;
    background-position: center;

    .container {
        max-width: 1280px;
        padding: 0 2%;
        margin: 0 auto;

        .menu-topo {
            .logo {
                position: relative;
                z-index: 2;
                // background-image: url('../img/logo.png');
                background-size: 100% 100%;
                float: left;
                width: 132px;
                height: 20px;
                color: white;
                font-size: 28px;
                font-weight: 600;
            }

            .desktop {
                @include m.mobile2 {
                    display: none;
                }

                float: right;

                ul {
                    li {
                        display: inline-block;
                        margin: 0 15px;
                        a {
                            padding: 5px;
                            color: v.$one;
                        }
                        :hover{
                            color: #ff5f27;
                            border-radius: 20px;
                        }
                        border-radius: 20px;
                    }
                    
                    .btn-nav {
                        padding: 3px 8px;
                        border: 1px solid v.$one;
                        background-color: rgba($color: #000000, $alpha: 0.2);
                        border-radius: 20px;
                        &:hover{
                            border: 1px solid #ff5f27;

                        }                        
                    }
                }
            }

            .mobile {
                float: right;
                display: none;

                h3 {
                    position: relative;
                    z-index: 2;
                    color: v.$one;
                    cursor: pointer;
                    font-size: 26px;
                }

                ul {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    padding: 70px 0 30px 0;
                    top: 0;
                    background-color: v.$bg4;
                    display: none;
                    text-align: center;

                    li {
                        padding: 10px 0;

                        a {
                            display: block;
                            color: v.$one;
                        }
                    }

                    .btn-nav {
                        border: 1px solid v.$one;
                        background-color: rgba($color: #000000, $alpha: 0.2);
                        border-radius: 20px;
                        display: inline-block;
                        padding: 4px 10px;
                    }
                }

                @include m.mobile2 {
                    display: block;
                }
            }
        }

        .chamada-header {
            @include m.mobile2 {
                text-align: center;
            }

            padding: 110px 0;

            h2 {
                font-size: 47px;
                color: v.$one;
                font-weight: normal;
            }

            p {
                font-size: 17px;
                color: v.$one;
                margin-top: 10px;
                max-width: 600px;
            }

            form {
                margin-top: 10px;

                input[type=email] {
                    display: inline-block;
                    border-radius: 20px;
                    background-color: v.$bg2;
                    height: 35px;
                    width: 237px;
                    padding-left: 10px;
                    outline: 0;
                    border: 0;

                    @include m.mobile2 {
                        margin-bottom: 10px;
                    }
                }

                input[type=submit] {
                    width: 181px;
                    height: 43px;
                    border-radius: 20px;
                    cursor: pointer;
                    background-color: v.$bg3;
                    color: v.$one;
                    border: 0;
                    &:hover{
                        background-color: v.$one;
                        color: v.$bg3;
                        border: 1px solid #ff5f27;
                        
                    }

                }
            }
        }

    }
}

.descricao-danki {
    text-align: center;
    padding: 30px 0;

    .container {
        p {
            display: inline-block;
            max-width: 600px;
            font-weight: lighter;
            font-size: 22px;
            font-style: italic;
        }
    }
}

.descricao-danki2 {
    padding: 50px 0;

    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 960px;

        .texto-descricao {
            float: left;
            width: 40%;

            h3 {
                color: v.$text2;
                font-size: 22px;
                line-height: 32px;
                font-weight: normal;
            }

            p {
                margin-top: 15px;
                color: v.$text3;
                font-size: 15px;
                line-height: 25px;
            }

            @include m.mobile2 {
                width: 80%;
                margin: auto;
            }
        }

        img {
            width: 60%;
            float: left;
            max-width: 500px;

            @include m.mobile2 {
                width: 100%;
                margin: 10px auto;
                float: none;
            }
        }
    }
}

.descricao-danki3 {
    padding: 30px 0;

    .container {
        max-width: 960px;
        background-image: url('../img/bg2.jpg');
        background-size: cover;
        min-height: 350px;
        position: relative;

        .box-depoimento {
            @include m.mobile2 {
                width: 90%;
                margin: 10px auto;
                position: relative;
                left: 0;
                bottom: -200px;
            }

            position: absolute;
            left: 50%;
            bottom: -20px;
            width: 70%;
            max-width: 506px;
            background-color: white;
            padding: 10px 30px;
            box-shadow: 0 8px 20px rgba(224, 224, 224, 0.5);

            p {
                font-size: 18px;
                color: v.$text2;
            }
        }
    }
}
.servicos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: rebeccapurple;
    .container{
        .title-servicos{
            display: flex;
            justify-content: center;
            h3{
                @include m.mobile1 {
                    padding-top: 70px;
                }
                padding-top: 30px;
                align-items: center;
                color: #31475e;
                font-size: 22px;
                font-weight: normal;
            }
        }
    }
    .space-servico{
        @include m.mobile2 {
            width: 49%;
            margin:10px auto;
        }
        @include m.mobile1 {
            align-items: center;
            width: 90%;
            margin:20px 5%;
        }
        // background-color: red;
        width: 33%;
        display: inline-block;
        .box-servico{
            width: 95%;
            margin: 10px auto;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0 8px 20px 0 rgba($color: #000000, $alpha: 0.5);
            background: white;
            img{
                width: 100%;
            }
            .box-servico-wraper{
                padding: 20px;
                h2{
                    color: #31475e;
                    font-size: 20px;
                    font-weight: normal;
                }
                p{
                    margin: 8px 0;
                    line-height: 1.6;
                    font-weight: lighter;
                    color: #6a7c5e;
                    font-size: 15px;
                }
                a{
                    color: #6a7c5e;
                    display: inline-block;
                    border: 1px solid #6a7c5e;
                    font-weight: lighter;
                    font-size: 15px;
                    padding: 6px 12px;
                    border-radius: 15px;
                }
            }
        }

    }
}

.portfolio{
    .container{
        max-width: 960px;
        padding: 15px 0;
        background: #f7f7f7;
        h2{
            text-align: center;
            font-weight: normal;
            color: #31475e;
        }
        .empresas{
            padding: 0 10px;
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;
            .empresa-single{
                @include m.mobile1 {
                    width: 80%;

                }
                display: flex;
                align-items: center;
                justify-content: center;
                border-style: solid;
                border-color: #ececec;
                border-width: 1px 0 1px 1px;
                width: 25%;
                padding: 10px 0;
                
            }
        }
    }
}

.formulario{
    .container{
        max-width: 960px;
        h2{
            text-align: center;
            font-weight: normal;
            color: #31475e;
        }
        form{
            margin-top: 10px;
            input[type=text]{
                width: 90%;
                height: 40px;
                border-radius: 100px;
                border: 1px solid #ebebeb;
                outline: none;
                padding: 10px 10px;
                margin-top: 10px;
                margin: 10px 5%;
            }
            textarea{
                width: 90%;
                height: 120px;
                resize: vertical;
                margin: 10px 5%;
                border-radius: 20px;
                border: 1px solid #ebebeb;
                outline: none;
                padding: 10px 10px;
            }
            input[type=submit]{
                outline: 0;
                width: 150px;
                height: 40px;
                cursor: pointer;
                border: 0;
                margin-top: 10px;
                margin-left: 5%;
                border-radius: 40px;
                color: white;
                background-color: #ff5f27;
                box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.4);
                font-size: 17px;
                &:hover{
                    color: #ff5f27;
                    background-color: white;
                    border: 1px solid #ff5f27;

                }

            }
        }
    }
}footer{
    margin: 50px 0;
    .container{
        .box-footer{
            @include m.mobile2 {
                margin: 20px 5%;
                width: 90%;
            }
            float: left;
            width: 33%;
            padding: 0 15px;
            h2{
                color: #31475e;
                font-size: 22px;
                font-weight: normal;
            }
            p{
                margin-top: 10px;
                color: #31475e;
                font-weight: 300;
                font-size: 15px;
            }
        }
        form{
            margin-top: 10px;
            input[type=text]{
                max-width: 208;
                height: 43px;
                border-radius: 20px;
                background-color: #ffffff;
                border: solid 1px #bfbfbf;
                padding-left: 10px;
                outline: 0;
            }
            button{
                width: 63px;
                height: 43px;
                border: 1px solid #31475e;
                border-radius: 20px;
                background-color: white;
                i{
                    color: #31475e;
                }
            }
        }
    }
}